.home__desc {
  padding-top: 8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

.home__desc::before {
  content: "";
  position: absolute;
  bottom: -450px;
  right: 1px;
  width: 1546px;
  height: 1264px;
  background-image: url("/images/pattern-squiggle-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.home__desc-title {
  color: var(--color-neutral-900);
  font-family: var(--font-primary);
  font-size: var(--font-size-preset-1);
  font-weight: var(--font-weight-extrabold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-tight);
  margin-bottom: 1.2rem;
}

.highlight {
  background: linear-gradient(to top, #fe9e6b62 50%, transparent 50%);
  display: inline;
}

.home__desc-subtitle {
  width: 100%;
  max-width: 580px;
  text-align: center;
  color: var(--color-neutral-800);
  font-family: var(--font-secondary);
  font-size: var(--font-size-preset-6);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-loose);
  letter-spacing: var(--letter-spacing-wide);
  margin-bottom: 4rem;
}

.home__desc-img {
  padding-top: 8rem;
}

/* Home-get */
.home__get {
  margin-top: 9.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home__get-title {
  color: var(--color-neutral-900);
  font-family: var(--font-primary);
  font-size: var(--font-size-preset-2);
  font-weight: var(--font-weight-extrabold);
  line-height: var(--line-height-snug);
  letter-spacing: var(--letter-spacing-tight);
}

.home__get-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  padding-right: 15.4rem;
  padding-left: 15.4rem;
  padding-top: 4.8rem;
  border-bottom: 1px solid var(--color-neutral-300);
}

.home__get-item {
  text-align: start;
}

.home__get-item-image {
  margin-bottom: 2.4rem;
  border: 1px solid var(--color-neutral-200);
  border-radius: 12px;
  background-color: #fff;
  padding: 1rem 1rem;
}

.home__get-item-title {
  color: var(--color-neutral-900);
  font-family: var(--font-primary);
  font-size: var(--font-size-preset-3);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-normal);
  letter-spacing: var(--line-height-snug);
  margin-bottom: 1.2rem;
}

.home__get-item-subtitle {
  color: var(--color-neutral-800);
  font-family: var(--font-secondary);
  font-size: var(--font-size-preset-6);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-loose);
  letter-spacing: var(--letter-spacing-wide);
  margin-bottom: 9.6rem;
}

/* home-built */
.home__built {
  margin-top: 9.6rem;
  display: flex;
  padding-right: 15.4rem;
  padding-left: 15.4rem;
  gap: 5.5rem;
  margin-bottom: 9.6rem;
}
.home__built-info {
  margin-top: 100px;
}

.home__built-title {
  color: var(--color-neutral-900);
  font-family: var(--font-primary);
  font-size: var(--font-size-preset-2);
  font-weight: var(--font-weight-extrabold);
  line-height: normal;
  letter-spacing: -1.44px;
  margin-bottom: 1.2rem;
}

.home__built-subtitle {
  color: var(--color-neutral-800);
  font-family: var(--font-secondary);
  font-size: var(--font-size-preset-6);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-loose);
  letter-spacing: var(--letter-spacing-wide);
  margin-bottom: 1.2rem;
}

.home__built-subtitle-bg {
  color: var(--color-neutral-800);
  font-family: var(--font-primary);
  font-size: var(--font-size-preset-5);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-relaxed);
  letter-spacing: var(--letter-spacing-normal);
  background-image: url("/images/orange-bg.svg");
  background-size: cover;
  background-position: center;
  display: inline-block;
  padding: 0 0.4rem;
  border-radius: 3px;
}
.home__built-image img {
  border-radius: 16px;
}

.home__cta {
  position: relative;
  background-color: var(--color-neutral-200);
  border-radius: 16px;
  padding: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem 15rem;
  width: 100%;
  max-width: 1230px;
  overflow: hidden;
}

.home__cta-content {
  position: relative;
  z-index: 2;
}

.home__cta-title {
  font-size: var(--font-size-preset-2);
  font-weight: var(--font-weight-extrabold);
  color: var(--color-neutral-900);
  margin-bottom: 1.2rem;
}

.home__cta-subtitle {
  font-size: var(--font-size-preset-6);
  color: var(--color-neutral-800);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-loose);
  letter-spacing: var(--letter-spacing-wide);
  margin-bottom: 2.4rem;
}

.home__cta::before,
.home__cta::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.home__cta::before {
  background-image: url("/images/pattern-fork.svg");
  bottom: -250px;
  left: -80px;
  transform: translateY(-50%);
}

.home__cta::after {
  background-image: url("/images/pattern-knife.svg"); /* нож */
  top: 230px;
  right: -50px;
  transform: translateY(-50%);
}

@media (max-width: 850px) {
  .home__desc {
    padding-top: 4.8rem;
    width: 100%;
    max-width: 768px;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  .home__desc-title {
    font-size: var(--font-size-preset-1-tablet);
    margin-bottom: 1.6rem;
  }

  .home__desc-subtitle {
    max-width: 690px;
    text-align: start;
  }

  .home__desc-btn {
    margin-right: auto;
  }

  .home__desc::before {
    content: "";
    position: absolute;
    bottom: -270px;
    right: 1px;
    width: 885px;
    height: 723px;
  }

  /* Home-get */
  .home__get {
    margin-top: 8rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .home__get-title {
    align-self: stretch;
    padding-left: 2.5rem;
  }

  .home__get-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-bottom: 8rem;
  }
  .home__get-item-title {
    margin-bottom: 0;
  }

  .home__get-item-subtitle {
    margin-bottom: 1rem;
  }

  /* home-built */
  .home__built {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
    padding-right: 12rem;
  }

  .home__built-info {
    margin-top: 0;
  }

  .home__built-subtitle {
    width: 100%;
    max-width: 704px;
    text-align: start;
  }

  .home__built-image {
    margin-left: 7rem;
  }

  /* home-cta */

  .home__cta {
    display: flex;
    padding: 80px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    margin: 1rem 5rem;
    width: 100%;
    max-width: 704px;
    border-radius: 16px;
  }

  .home__cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home__cta-title {
    font-size: var(--font-size-preset-2);
    font-weight: 800;
    line-height: 120%; /* 57.6px */
    letter-spacing: -2px;
  }

  .home__cta-subtitle {
    font-size: var(--font-size-preset-6);
    line-height: var(--line-height-loose);
    letter-spacing: var(--letter-spacing-wide);
    max-width: 704px;
  }

  .home__cta::before {
    width: 200px;
    height: 300px;
    bottom: -250px;
    left: -50px;
  }

  .home__cta::after {
    width: 200px;
    height: 300px;
    top: 90px;
    right: -30px;
  }
}

@media (max-width: 450px) {
  .home__desc {
    padding-top: 4.8rem;
    width: 100%;
    max-width: 450px;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }

  .home__desc-title {
    font-size: var(--font-size-preset-1-mobile);
    margin-bottom: 1.2rem;
  }

  .home__desc-subtitle {
    margin-bottom: 2.4rem;
  }

  .home__desc::before {
    content: "";
    position: absolute;
    bottom: -197px;
    left: -227px;
    width: 634px;
    height: 518px;
    transform: rotate(1deg);
  }

  /* home-get */
  .home__get {
    width: 100%;
    max-width: 450px;
  }

  .home__get-title {
    font-size: var(--font-size-preset-2-mobile);
  }

  .home__get-list {
    gap: 2.4rem;
    padding: 2rem;
    padding-right: 0;
  }

  .home__built {
    display: flex;
    width: 100%;
    max-width: 450px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-top: 6.4rem;
    padding-right: 5rem;
  }

  .home__built-title {
    font-size: var(--font-size-preset-2-mobile);
    line-height: var(--line-height-snug);
    letter-spacing: var(--letter-spacing-tight);
  }

  .home__built-subtitle {
    width: 100%;
    max-width: 704px;
    text-align: start;
  }
  .home__built-subtitle-bg {
    background-image: none;
  }

  .home__built-image {
    margin-left: 0.5rem;
  }

  /* home-cta */

  .home__cta {
    display: flex;
    padding: 48px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    margin: 0rem 3rem;
    width: 100%;
    max-width: 343px;
    border-radius: 16px;
  }

  .home__cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home__cta-title {
    font-size: var(--font-size-preset-2-mobile);
    font-weight: 800;
    line-height: 120%; /* 57.6px */
    letter-spacing: -2px;
  }

  .home__cta-subtitle {
    font-size: var(--font-size-preset-6);
    line-height: var(--line-height-loose);
    letter-spacing: var(--letter-spacing-wide);
    max-width: 311px;
  }

  /* Декоративные элементы для планшета */
  .home__cta::before {
    display: none;
  }

  .home__cta::after {
    display: none;
  }
}
