.item {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral-0);
  border-radius: 10px;
  border: 1px solid var(--color-neutral-300);
  width: 100%;
  max-width: 395px;
  padding: 8px;
}
.item__image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.item__title {
  margin-top: 1.5rem;
  width: 100%;
  max-width: 344px;
  color: var(--color-neutral-900);
  font-family: var(--font-primary);
  font-size: var(--font-size-preset-5);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-relaxed);
  letter-spacing: var(--letter-spacing-normal);
  margin-bottom: 1rem;
}

.item__overview {
  color: var(--color-neutral-800);
  font-family: var(--font-secondary);
  font-size: var(--font-size-preset-9);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-loose);
  letter-spacing: var(--letter-spacing-wider);
  margin-bottom: 1.6rem;
}

.item__content {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  text-align: start;
}

.item__details-l {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.item__details-l:last-child {
  justify-content: space-between;
}
.item__details-text {
  display: flex;
  gap: 0.6rem;
}

.item__details-text span {
  color: var(--color-neutral-900);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-loose);
  letter-spacing: var(--letter-spacing-wider);
}

/* List */
.list {
  width: 100%;
}

.list__container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.btn-itm {
  margin-top: 1.6rem;
  width: 100%;
  height: 48px;
  max-width: 360px;
  border-radius: 999px;
  text-align: center;
  padding: 12px 32px;
}

@media (max-width: 850px) {
  .item {
    max-width: 704px;
  }
  .item__title {
    max-width: 672px;
  }
  .item__overview {
    max-width: 672px;
  }

  .item__details {
    display: flex;
  }
  .item__details:last-child {
    gap: 1.6rem;
  }

  .btn-itm {
    max-width: 688px;
  }
}

@media (max-width: 450px) {
  .item {
    max-width: 343px;
  }

  .item__details {
    flex-direction: column;
    align-items: flex-start;
  }

  .item__details:last-child {
    gap: 0;
  }
}
